<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
    <div class="container text-center bg-primary">
        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
            {% endfor %}
        {% endif %}

        <h3 class="m-5 pt-5 text-warning">Add your Image Here</h3>
        <div class="mx-5 px-5">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <div class="d-flex justify-content-around">
                    <input class="btn btn-sm btn-outline-success" type="submit" value="Save">
                    <input class="btn btn-sm btn-outline-danger" type="reset" value="Reset">
                </div>
            </form>
        </div>
        
        <div class="row bg-warning mt-5">
            <h2 class="py-4 text-danger bg-info">All Uploaded Images</h2>
            {% for img in imgs %}
                <div class="col-sm-4 d-flex justify-content-center my-2">
                    <div class="card" style="width: 18rem;">
                        <img src="{{img.photo.url}}" class="card-img-top" alt="Not Found">
                        <div class="card-body">
                            <h5 class="card-title">{{img.title}}</h5>
                            <p class="card-text">{{img.description}}</p>
                        </div>
                        <div class="card-footer">
                            <p class="text-muted">{{img.date}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>